.main
  .main__show
    .main__show-image
      = image_tag (@tweet.image.url), class: 'tweet-img'
      .main__show-image--text
        = @tweet.text
    .main__show-bottom
      .main__show-bottom__left
        = image_tag 'image.yu.jpeg', class: 'u-avatar'
        %span
          Tweet User
        .main__show-bottom__left__name
          = @tweet.user.nickname
      - if @tweet.user == current_user
        .main__show-bottom__right
          = link_to tweet_path, method: :delete, class: 'btn-link' do
            .main__show-bottom__right-box
              Delete
          = link_to edit_tweet_path, class: 'btn-link' do
            .main__show-bottom__right-box
              Edit

    .main__show-comments
      .main__show-comments--head
        %h2
          * Comments
        = fa_icon 'comment 3x'
      .main__show-comments--content
        = render 'comments/comment'

        .main__show-comments--content_no
          Comment, Please.

.comments-container
  .comments-container__modal
    = form_for [@tweet, @comment], method: :post do |f|
      = f.text_area :text, class: 'modal-form'
      =f.submit 'post', class: 'modal-submit'
      .cancel-btn キャンセル




