!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyTweet
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{href: :"https://fonts.googleapis.com/css?family=Kaushan+Script|Gloria+Hallelujah|M+PLUS+1p|Permanent+Marker", rel: :"stylesheet"}/
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.6.3/css/all.css", :integrity => "sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/", :rel => "stylesheet"}/

  %body
    .header
      = link_to root_path do
        .header-title
          My Tweet
      .header-btn
        .header-btn__box
          Log In
        .header-btn__box
          Sign Up

    = yield

    .footer
      .footer-container
        Copyright © 2019 Iwai Inc. All Rights Reserved.
